# 1st program -- WORKING WITH NUMBER & OPERATOR (ARITHMETIC)

In [1]:
1

1

In [2]:
2

2

In [3]:
3

3

In [4]:
1 + 2

3

In [5]:
10 + 5

15

In [6]:
10 - 5

5

In [7]:
10 * 5

50

In [8]:
10 / 5 #float division

2.0

In [9]:
10 // 5 # int division

2

In [10]:
3 * 2

6

In [11]:
3 ** 2 # power

9

In [12]:
10 / 5

2.0

In [13]:
10 // 5

2

In [14]:
10 % 5  #modulus

0

In [15]:
10+5*(3//6) # BODMAS -- bracket, order, division, mult, add, sub

10

In [16]:
10+5*3//6

12

# 2nd Programe ( working with python variable) syntax -- (varaible name = value)

In [17]:
v = 8
v

8

In [18]:
8 = v

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1726677972.py, line 1)

In [ ]:
8a = 10
8a

In [ ]:
a8 = 10
a8

In [ ]:
# why python called as dynamic

a = 'nit'
type(a)

In [ ]:
a$ = 34
a$

In [ ]:
a_ = 35
a_

In [ ]:
Nit = 56
nit

In [ ]:
Nit

In [ ]:
hello = 67
hello

In [ ]:
import keyword
keyword.kwlist

In [ ]:
else = 6

In [ ]:
Def = 7
Def

In [ ]:
len(keyword.kwlist)

#python variable declaration we learned

- what is varible ?
- otheer names variable == object = identifier
- rules tod python variable
- variable = value (syntax)
- value also called datatypes

# 3rd code -- python datatypes

In [ ]:
i = 34
I

In [ ]:
i

In [ ]:
type(i)

In [ ]:
i1 = 9
i1

In [ ]:
type(i1)

In [ ]:
f = 110.34
f

In [ ]:
type(f)

In [ ]:
f1 = 1e0 
f1

In [ ]:
type(f1)

In [ ]:
f2 = 2e1
f2

In [ ]:
type(f2)

In [ ]:
f3 = 3.2e3
f3

In [ ]:
f4 = 2.4E2
f4

In [ ]:
f5 = 3g2
f5

In [ ]:
f

In [ ]:
id(f)

In [ ]:
2 + 3

10 + 5

10 - 5

In [ ]:
print(2 + 3)

print(10 + 5)

print(10 - 5)

In [ ]:
import keyword
keyword.kwlist

In [ ]:
b = true

In [ ]:
b = True
b

In [ ]:
b1 = False
b1

In [ ]:
b2 = None # operator overloading in oops -- polymorphism 
b2

In [ ]:
True + True

In [ ]:
True + False

In [ ]:
False * False

In [ ]:
False / True # float division

In [ ]:
False // True #int division

# 8th

In [ ]:
c = 1 + 2j
c

In [ ]:
c.real

In [ ]:
c.imag

In [ ]:
d = 5 + 6j
d

In [ ]:
print(c)
print(d)

In [ ]:
c + d

In [ ]:
c - d

# string

In [ ]:
s = welcome 
s

In [ ]:
s = 'welcome' 
s

In [ ]:
s1 = "welcome"
s1

In [ ]:
s2 = '''welcome'''
s2

In [ ]:
s3 = '''welcome to 
            nareshit
                fsds with 
                    genai & agenticai'''
s3

# python operator

In [ ]:
x, y = 10, 5

In [ ]:
x + y

In [ ]:
x - y

In [ ]:
x * y

In [ ]:
x // y

In [ ]:
x / y

In [ ]:
x ** y

# ASSIGNMENT OPERATOR

x

In [ ]:
x += 2

In [ ]:
x

In [ ]:
x += 2

In [ ]:
x

In [ ]:
x *= 2
x

In [ ]:
x

In [ ]:
x //= 2
x

In [ ]:
x /= 2

In [ ]:
x

# unary operator

In [ ]:
n = 7 #negattion
n

In [ ]:
m = -n
m

# Relational operator ( we are using this for comparing)

In [ ]:
a = 5
b = 6

In [ ]:
a < b

In [ ]:
a > b

In [ ]:
a == b

In [ ]:
a != b

In [ ]:
b = 5
b

In [ ]:
a == b

In [ ]:
a != b

In [ ]:
print(a)
print(b)

In [ ]:
b = 7

In [ ]:
print(a)
print(b)

In [ ]:
a >= b

In [ ]:
a <= b

# logical operator

In [ ]:
a = 5
b = 4

In [ ]:
a < 8 and b < 5

In [ ]:
a < 8 or b < 5

In [ ]:
a >8 and b > 5

In [ ]:
a>8 or b>5

In [ ]:
x1 = False
x1

In [ ]:
y1 = not x1
y1

# print()

In [ ]:
print(10) 
print(10,20)
print('python') 
print(10,20,'python') 
print(2, 2.3, 'nit', True, 1+2j)

In [ ]:
num1=20 num2=30
add=num1+num2 print(add)

In [ ]:
num1, num2 = 20, 30
add = num1 + num2  
print(add)

# print result with string

In [ ]:
num1=20 
num2=30 
add=num1+num2

print('The addition of',num1,'and',num2,'is=',add)

In [ ]:
num1=20 
num2=30
add=num1+num2

print('The addition of {} and {} is= {}'.format(num1,num2,add))

In [ ]:
num1=20 
num2=30
num3=50

add=num1+num2+num3

print('The addition of {} and {} and {} is= {}'.format(num1,num2,num3, add))

In [ ]:
num1 = 20
num2 = 30

add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}')

# 10th

In [ ]:
hi

In [ ]:
#hi

In [ ]:
'hi'

In [ ]:
s1 = 'hello'
s1

In [ ]:
a = 3
b = 'hi'

c = a + b
print(c)

In [ ]:
'nit' + 'nit'

In [ ]:
'nit' + ' nit'

In [ ]:
'nit' * 'nit'

In [ ]:
5 * 'nit'

In [ ]:
5 * ' nit'

In [ ]:
print('C:\nit') # \n - print new line

In [ ]:
print(r'C:\nit')

In [ ]:
tax = 20 
price = 15

price * tax

In [ ]:
price + _ #_ it store previous value

In [ ]:
round(15.2)

In [ ]:
round(15.8)

In [ ]:
help()

In [ ]:
'doesnt'

In [ ]:
'doesn\'t'

In [ ]:
"doesn't"

In [ ]:
index = 'welcome'
index

'welcome'

In [ ]:
index[0]

'w'

In [ ]:
print(index[0])
print(index[1])
print(index[2])
print(index[3])
print(index[4])
print(index[5])
print(index[6])

w
e
l
c
o
m
e

In [ ]:
index

'welcome'

In [ ]:
for i in index:
    print(i)

w
e
l
c
o
m
e

In [ ]:
index

'welcome'

In [ ]:
index[-10]

IndexError: string index out of range

In [ ]:
index

'welcome'

In [ ]:
index[5]

'm'

In [ ]:
index

'welcome'

In [ ]:
len(index)

7

In [ ]:
index[8]

IndexError: string index out of range

In [ ]:
index

'welcome'

In [ ]:
index[:]

'welcome'

In [ ]:
index[1:5]

'elco'

In [ ]:
index

'welcome'

In [ ]:
index[0:5]

'welco'

In [ ]:
index

'welcome'

In [ ]:
index[:5]

'welco'

In [ ]:
index[5:]

'me'

In [ ]:
index[:]

'welcome'

In [ ]:
index

'welcome'

In [ ]:
index[4:10]

'ome'

In [ ]:
index

'welcome'

In [ ]:
index[:10]

'welcome'

In [ ]:
index[10:]

''

In [ ]:
index

'welcome'

In [ ]:
index[10]

IndexError: string index out of range

In [ ]:
s3 = 'hellopython'

In [ ]:
index

'welcome'

In [ ]:
index[:10]

'welcome'

In [ ]:
index

'welcome'

In [ ]:
len(index)

7

In [ ]:
index[7]

IndexError: string index out of range

In [ ]:
index[7:]

''

In [ ]:
index[:7]

'welcome'

In [ ]:
index

'welcome'

In [ ]:
index[-8]

IndexError: string index out of range

In [ ]:
i5 = 'nareshit'
i5

'nareshit'

In [ ]:
i5

'nareshit'

In [ ]:
i5[0:7:3]

'nei'

In [ ]:
i5

'nareshit'

In [ ]:
i5[2:-1]

'reshi'

In [ ]:
i5[::1]

'nareshit'

In [ ]:
i5[::2]

'nrsi'

In [ ]:
i5

'nareshit'

In [ ]:
i5[::3]

'nei'

In [ ]:
i5

'nareshit'

In [ ]:
i5[::-1]

'tihseran'

In [ ]:
i5[::-2]

'thea'

In [ ]:
i5

'nareshit'

In [ ]:
i5[::-3]

'tsa'

In [ ]:
index

'welcome'

In [ ]:
index[-6:2]

'e'

# string we are complete

# Python Data Structure

In [ ]:
l = []  
l

[]

In [ ]:
type(l)

list

In [ ]:
len(l)

0

In [ ]:
l1 = [10, 20, 30, 40]
l1

[10, 20, 30, 40]

In [ ]:
len(l1)

4

In [ ]:
type(l1)

list

In [ ]:
print(l)
print(l1)

[]
[10, 20, 30, 40]

In [ ]:
l == l1

False

In [ ]:
l != l1

True

In [ ]:
l1

[10, 20, 30, 40]

In [ ]:
l

[]

In [ ]:
l.append(100) 
l.append(12.5)
l.append(True)
l.append(1+2j)
l.append([1,2,3])

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3]]

In [ ]:
100 in l

True

In [ ]:
1000 in l

False

In [ ]:
l.append(100)

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100]

In [ ]:
print(l)
print(l1)

[100, 12.5, True, (1+2j), [1, 2, 3], 100]
[10, 20, 30, 40]

In [ ]:
print(len(l))
print(len(l1))

6
4

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100]

In [ ]:
l.append(30, 40)

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100]

In [ ]:
l.count(100)

2

In [ ]:
l.count(12.5)

1

In [ ]:
l.count(1000)

0

In [ ]:
l2

NameError: name 'l2' is not defined

In [ ]:
l1

[10, 20, 30, 40]

In [ ]:
l2 = l1.copy()

In [ ]:
l2

[10, 20, 30, 40]

In [ ]:
print(l)
print(l1)
print(l2)

[100, 12.5, True, (1+2j), [1, 2, 3], 100]
[10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
l1.append(50)

In [ ]:
l1

[10, 20, 30, 40, 50]

In [ ]:
l2

[10, 20, 30, 40]

In [ ]:
l2.append(50)

In [ ]:
l2

[10, 20, 30, 40, 50]

In [ ]:
l2.clear()

In [ ]:
print(l)
print(l1)
print(l2)

[100, 12.5, True, (1+2j), [1, 2, 3], 100]
[10, 20, 30, 40, 50]
[]

In [ ]:
l2

[]

In [ ]:
l1

[10, 20, 30, 40, 50]

In [ ]:
l2 = l1.copy()

In [ ]:
l2

[10, 20, 30, 40, 50]

In [ ]:
print(l)
print(l1)
print(l2)

[100, 12.5, True, (1+2j), [1, 2, 3], 100]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
print(len(l))
print(len(l1))
print(len(l2))

6
5
5

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100]

In [ ]:
l.extend(l1)

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100, 10, 20, 30, 40, 50]

In [ ]:
l1

[10, 20, 30, 40, 50]

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100, 10, 20, 30, 40, 50]

In [ ]:
l.index(10)

6

In [ ]:
l.index(100)

0

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100, 10, 20, 30, 40, 50]

In [ ]:
l1

[10, 20, 30, 40, 50]

In [ ]:
l1.insert(1, 15)

In [ ]:
l1

[10, 15, 20, 30, 40, 50, 1]

In [ ]:
l1

[10, 15, 20, 30, 40, 50, 1]

In [ ]:
l1.insert(3, 25)

In [ ]:
l1

[10, 15, 20, 25, 30, 40, 50, 1]

In [ ]:
l1

[10, 15, 20, 25, 30, 40, 50, 1]

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100, 10, 20, 30, 40, 50]

In [ ]:
l.pop()

50

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100, 10, 20, 30, 40]

In [ ]:
l.pop()

40

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100, 10, 20, 30]

In [ ]:
l.pop()

30

In [ ]:
l

[100, 12.5, True, (1+2j), [1, 2, 3], 100, 10, 20]

In [ ]:
l.pop(4)

[1, 2, 3]

In [ ]:
l

[100, 12.5, True, (1+2j), 100, 10, 20]

In [ ]:
l.pop(3)

(1+2j)

In [ ]:
l

[100, 12.5, True, 100, 10, 20]

In [ ]:
l.remove(True)

In [ ]:
l

[100, 12.5, 100, 10, 20]

# List 
1) List is an ordered sequence of items. 
2) We can have different data types under a list. E.g. We can have integer, float, and string items in a same list.  



1. List is defined using [] (square brackets)
2. Lis t is growable 
3. append() will allow user to add the element or value at the end of the list. 
4. You can declare multiple datatype inside the list. 
5. List allows duplicates and it will append it to the end of the list. 
6. append takes only one argument
7. Index() return the index value 
8. insert() insert the value before index . insert always we need to pass 2 arguemnt
9. extend()- extend from one list to another list 
10. copy list.
11. pop() by default it will remove  & print the last element value 
    pop(3) it will remove only 3rd index position value  
    pop() is index wise elimination 
12. remove() not index 

# List creation

In [ ]:
list1 = [] # Empty list 
print(type(list1))

<class 'list'>

In [ ]:
list2 = [10,30,60] # list of integers numbers

list3 = [10.77, 30.66, 60.89] # List of float numbers

list4 = ['one', 'two', 'three'] # List of strings

list5 = ['Asif', 25,[50,100], [150,90]] #Nested Lists

list6 = [100, 'Asif', 17.765] # List of mixed data types 

list7 = ['Asif', 25, [50,100],[150,90],{'John','David'}]
len(list6) # Length of list

3

# List Indexing 
1. Forward indexing of list starts from 0 to n-1 

2. Backward indexing of list starts from -1 to -n

In [ ]:
list2[0] # Retrieve first element of the list

10

In [ ]:
list4[0] # Retrieve first element of the list

'one'

In [ ]:
list4[0][0] # Nested indexing - Access the first character of the first list element

'o'

In [ ]:
list4[-1] # Last item of the list

'three'

In [ ]:
list5[-1] # Last item of the list

[150, 90]

# List Slicing

In [ ]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
mylist[0:3] # Return all items from 0th to 3rd index Location

['one', 'two', 'three']

In [ ]:
mylist[2:5] # List all items from 2nd to 5th index location

['three', 'four', 'five']

In [ ]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [ ]:
mylist[:2] # Return first two items

['one', 'two']

In [ ]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [ ]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [ ]:
mylist[-1] # Return last item of the list

'eight'

In [ ]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add, Remove & Change Items

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.append('nine') # Add an item to the end of the list 
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine',
 'nine']

In [ ]:
mylist.insert(9,'ten') # add item at index Location 9 
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine',
 'nine']

In [ ]:
mylist.insert(1,'one') # Add iteam at index location 1 
mylist

['one',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine',
 'nine']

In [ ]:
mylist.remove('one') # Remove item "one"
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine',
 'nine']

In [ ]:
mylist.pop() # Remove last item of the list 
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [ ]:
mylist.pop(8) # Remove item at index location 8 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten', 'nine']

In [ ]:
del mylist[7] #Remove item at index location 7 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'ten', 'nine']

In [ ]:
# Change value of the string 
mylist[0] = 1 
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'ten', 'nine']

In [ ]:
mylist.clear() # Empty List/ Delete all items in the list 
mylist

[]

In [ ]:
del mylist # Delete the whole list 
mylist

NameError: name 'mylist' is not defined

# Copy List

In [ ]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist1 = mylist # Create a new reference "mylist1"
id(mylist), id(mylist1) # THe address of both mylist & mylist1 will be the same

(4718866240, 4718866240)

In [ ]:
mylist2 = mylist.copy() # Create a copy of the list

In [ ]:
id(mylist2) # The address of mylist 2 will be different from mylist because my list2 is a copy of mylist1

4718855552

In [ ]:
mylist[0] = 1 
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist1 # mylist1 will also be impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist2 # copy of list wont be impacted due to the changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# Join Lists

In [ ]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']
list3 = list1 + list2 # Join two lists by '+' operator 
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1.extend(list2) # Append list2 with list1 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# List Membership

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
'one' in list1 # Check if 'one' exist in the list

True

In [ ]:
'ten' in list1 # check if 'ten' exist in the list

False

In [ ]:
if 'three' in list1 : # Check if 'three' exist in the list 
    print('Three is present in the list')
else: 
    print('three is not present in the list ')

Three is present in the list

In [ ]:
if 'eleven' in list1 : # Check if 'eleven' exist in the list 
    print('eleven is present in the list')
else: 
    print('eleven is not present in the list')

eleven is not present in the list

# Reverse & Sort List

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1.reverse() # Reverse the list 
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
list1 = list1[::-1] # Reverse the list

In [ ]:
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order 
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [ ]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order 
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [ ]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original

[11, 21, 33, 65, 88, 98]

In [ ]:
mylist4

[88, 65, 33, 21, 11, 98]

# Loop through a list

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
for i in list1: 
    print(i)

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [ ]:
list10 = ['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10.count('one') # Number of times "one" occured in the list

3

In [ ]:
list10.count('two') # Occurence of item 'two' in the list

2

In [ ]:
list10.count('four') # Occurence of item 'four' in the list

1

# All()/ Any methods/functions
The all() method returns: 
1. True - if all elements in a list are true 
2. False - if any element ia list is false 
The any() function returns True if any element in the list is True. if not, any() returns False.

In [ ]:
L1 = [1,2,3,4,0]
all(L1) # Will Return false as one value is false(Value 0)

False

In [ ]:
any(L1) # Will Return True as we have items in the list with True value

True

In [ ]:
L2 = [1,2,3,4,True,False]
all(L2) #Returns false as one value is false

False

In [ ]:
any(L2) # Will Return True as we have items in the list with True value

True

In [20]:
L3 = [1,2,3,True]
all(L3) # Will return True as all items in the list are True

True

In [19]:
Print(L1)

NameError: name 'Print' is not defined

In [22]:
l = [100,12.5,100,10,20]
l.reverse();
print(l);

[20, 10, 100, 12.5, 100]

In [23]:
l.sort()
l

[10, 12.5, 20, 100, 100]

In [ ]:
l3 = ['a', 2.3, 1+2j, True ] # Sort functions only when we pass similar datatypes 
l3.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [32]:
l1  = [ 10,15, 20, 25, 20,15,10,1]
l1.sort(reverse=True)
l1

[25, 20, 20, 15, 15, 10, 10, 1]

# Parameter Tunning -- System given default parameter 
# hyperparameter Tuning -- User change the System Parameter

In [ ]:
l = [2,8,3]
l.sort() # Parameter Tunning 
print(l)

[2, 3, 8]

In [35]:
l.sort(reverse=True) #Hyperparameter Tuning
print(l)

[8, 3, 2]

In [ ]:
for i in l: # For loop i is iteration 
    # system automating generates space it is called indentatiton makes it easy for reading. 
    print(i)

8
3
2

In [ ]:
for i in enumerate (l): # enumerate means Retun enumerate object,The enumerate object yields pairs containing a count (from start, which
                        # defaults to zero) and a value yielded by the iterable argument. 
    print (i)

(0, 8)
(1, 3)
(2, 2)