# SET DATA STRUCTURE 
1. SET & DICT Both assigned with curly brackets{}
2. Indexing and slicing is not allowed in set. 
3. set does not allow duplicate 
4.

In [ ]:
s = {} # Empty DICT
type(s)

dict

In [ ]:
s1 = {2,3,1,100,10} #Set assignment
s2 = set() # Empty Set
s1 # OUTPUT will be printed in ascending order when we pass same datatypes and when we pass multiple datatype it wont pass ordered.

{1, 2, 3, 10, 100}

In [8]:
type(s1)
type(s2)
print(s)
print(type(s))
print(s1)
print(type(s1))
print(s2)
print(type(s2))

{}
<class 'dict'>
{1, 2, 3, 100, 10}
<class 'set'>
set()
<class 'set'>

In [9]:
s1

{1, 2, 3, 10, 100}

In [ ]:
s3 = {1, 2.3, 'nit',1+2j, True}
s3 # True will not be printed as duplicates will not be allowed in set

{(1+2j), 1, 2.3, 'nit'}

In [11]:
s1

{1, 2, 3, 10, 100}

In [13]:
s1.add(4)

In [14]:
s1

{1, 2, 3, 4, 10, 100}

In [ ]:
s1.add('nit') # append() --list add element at the end. 
                #add()- will add element in ascending order
s1

{1, 10, 100, 2, 3, 4, 'nit'}

In [16]:
s1.add([1,2,3]) -  # User will not be able to add list in the set.

SyntaxError: invalid syntax (2059422068.py, line 1)

In [ ]:
s1.clear() #clears all elements from the set.

In [ ]:
s4 = s1.copy() # Copies s1 into s3 
s4
s1 == s4

True

In [18]:
s1

{1, 10, 100, 2, 3, 4, 'nit'}

In [ ]:
s1[0]#indexing is not allowed in s1

TypeError: 'set' object is not subscriptable

In [ ]:
s1[:] # Slicing is also not allowed in set.

TypeError: 'set' object is not subscriptable

In [21]:
s1.pop()

1

In [22]:
s1.pop()

2

In [23]:
s1

{10, 100, 3, 4, 'nit'}

In [ ]:
s1.pop()# Remove the elements but it will not work with value

3

In [25]:
s1.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
s1.remove(100) # remove elements which are passed as argument and if the element is not there it will throw error

KeyError: 100

In [29]:
s1

{10, 4, 'nit'}

In [ ]:
s1.remove(200)# 200 is not the family member of s1.

KeyError: 200

In [ ]:
#Remove() Vs Discard()

#1. Remove()- Remove the element if element is available in set or else it will give error 
#2. discard()- Remove the element if element is available in set and if value is not available 
               # it will not throw error it will discard the error.

In [32]:
s3

{(1+2j), 1, 2.3, 'nit'}

In [ ]:
s2.discard(200)# 200 is not a member of s3 and even after calling discard it will not throw error.

In [ ]:
s3.remove(200) # But with remove s3.remove(200) will throw error now.

KeyError: 200

In [35]:
s3

{(1+2j), 1, 2.3, 'nit'}

In [ ]:
s3.discard(1+2j)# it will remove the 1+2j
s3

{1, 2.3, 'nit'}

# SET Operations 

1. Union operation - .union() or |

In [41]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [42]:
s5.union(s6)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
s5.union(s6,s7)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
s5 | s6 |s7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
s7 | s5 | s6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection &

In [46]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s5.intersection(s6)# prints only the common elements

{4, 5}

In [48]:
s6 & s7

{8}

In [ ]:
s5.intersection(s7) # No Common elements so will give empty set

set()

# Difference -

In [50]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s5.difference(s6) #OP it will not print common elements

{1, 2, 3}

In [ ]:
s6 - s5

{6, 7, 8}

In [53]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [54]:
s5.difference(s7)

{1, 2, 3, 4, 5}

In [55]:
s6 - s7

{4, 5, 6, 7}

# Symmetric difference

In [56]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [59]:
s5.symmetric_difference(s6)# the common items will not be printed and rest of the uncommon will be printed from both the sets. 

print(s5)
print(s6)
print(s7)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

# Update

In [ ]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [61]:
s5.symmetric_difference_update(s6)

In [62]:
s5

{1, 2, 3, 6, 7, 8}

In [63]:
s5 ={1, 2, 3, 6, 7, 8}

In [64]:
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [65]:
s6.symmetric_difference(s7)

{4, 5, 6, 7, 9, 10}

In [66]:
s6

{4, 5, 6, 7, 8}

In [67]:
s6.symmetric_difference_update(s7)

In [68]:
s6

{4, 5, 6, 7, 9, 10}