# SET DATA STRUCTURE 
1. SET & DICT Both assigned with curly brackets{}
2. Indexing and slicing is not allowed in set. 
3. set does not allow duplicate 
4.

In [ ]:
s = {} # Empty DICT
type(s)

dict

In [ ]:
s1 = {2,3,1,100,10} #Set assignment
s2 = set() # Empty Set
s1 # OUTPUT will be printed in ascending order when we pass same datatypes and when we pass multiple datatype it wont pass ordered.

{1, 2, 3, 10, 100}

In [ ]:
type(s1)
type(s2)
print(s)
print(type(s))
print(s1)
print(type(s1))
print(s2)
print(type(s2))

{}
<class 'dict'>
{1, 2, 3, 100, 10}
<class 'set'>
set()
<class 'set'>

In [ ]:
s1

{1, 2, 3, 10, 100}

In [ ]:
s3 = {1, 2.3, 'nit',1+2j, True}
s3 # True will not be printed as duplicates will not be allowed in set

{(1+2j), 1, 2.3, 'nit'}

In [ ]:
s1

{1, 2, 3, 10, 100}

In [ ]:
s1.add(4)

In [ ]:
s1

{1, 2, 3, 4, 10, 100}

In [ ]:
s1.add('nit') # append() --list add element at the end. 
                #add()- will add element in ascending order
s1

{1, 10, 100, 2, 3, 4, 'nit'}

In [ ]:
s1.add([1,2,3]) -  # User will not be able to add list in the set.

SyntaxError: invalid syntax (2059422068.py, line 1)

In [ ]:
s1.clear() #clears all elements from the set.

In [ ]:
s4 = s1.copy() # Copies s1 into s3 
s4
s1 == s4

True

In [ ]:
s1

{1, 10, 100, 2, 3, 4, 'nit'}

In [ ]:
s1[0]#indexing is not allowed in s1

TypeError: 'set' object is not subscriptable

In [ ]:
s1[:] # Slicing is also not allowed in set.

TypeError: 'set' object is not subscriptable

In [ ]:
s1.pop()

1

In [ ]:
s1.pop()

2

In [ ]:
s1

{10, 100, 3, 4, 'nit'}

In [ ]:
s1.pop()# Remove the elements but it will not work with value

3

In [ ]:
s1.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
s1.remove(100) # remove elements which are passed as argument and if the element is not there it will throw error

KeyError: 100

In [ ]:
s1

{10, 4, 'nit'}

In [ ]:
s1.remove(200)# 200 is not the family member of s1.

KeyError: 200

In [ ]:
#Remove() Vs Discard()

#1. Remove()- Remove the element if element is available in set or else it will give error 
#2. discard()- Remove the element if element is available in set and if value is not available 
               # it will not throw error it will discard the error.

In [ ]:
s3

{(1+2j), 1, 2.3, 'nit'}

In [ ]:
s2.discard(200)# 200 is not a member of s3 and even after calling discard it will not throw error.

In [ ]:
s3.remove(200) # But with remove s3.remove(200) will throw error now.

KeyError: 200

In [ ]:
s3

{(1+2j), 1, 2.3, 'nit'}

In [ ]:
s3.discard(1+2j)# it will remove the 1+2j
s3

{1, 2.3, 'nit'}

# SET Operations 

1. Union operation - .union() or |

In [ ]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s5.union(s6)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s5.union(s6,s7)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
s5 | s6 |s7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
s7 | s5 | s6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection &

In [ ]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s5.intersection(s6)# prints only the common elements

{4, 5}

In [ ]:
s6 & s7

{8}

In [ ]:
s5.intersection(s7) # No Common elements so will give empty set

set()

# Difference -

In [ ]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s5.difference(s6) #OP it will not print common elements

{1, 2, 3}

In [ ]:
s6 - s5

{6, 7, 8}

In [ ]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s5.difference(s7)

{1, 2, 3, 4, 5}

In [ ]:
s6 - s7

{4, 5, 6, 7}

# Symmetric difference

In [ ]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s5.symmetric_difference(s6)# the common items will not be printed and rest of the uncommon will be printed from both the sets. 

print(s5)
print(s6)
print(s7)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

# Update

In [ ]:
s5 = {1,2,3,4,5}
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s5.symmetric_difference_update(s6)

In [ ]:
s5

{1, 2, 3, 6, 7, 8}

In [ ]:
s5 ={1, 2, 3, 6, 7, 8}

In [ ]:
s6 = {4,5,6,7,8}
s7 = {8,9,10}

In [ ]:
s6.symmetric_difference(s7)

{4, 5, 6, 7, 9, 10}

In [ ]:
s6

{4, 5, 6, 7, 8}

In [ ]:
s6.symmetric_difference_update(s7)

In [ ]:
s6

{4, 5, 6, 7, 9, 10}

# Superset , Subset & disjoint

1. Superset - Dad 
2. Subset  - son 
3. disjoing - Neighbor

In [ ]:
ss1 = { 1, 2, 3, 4, 5, 6, 7, 8 ,9}
ss2 = {3, 4, 5, 6, 7, 8}
ss3 = { 10, 20, 30, 40}

In [ ]:
ss1.issuperset(ss2)

True

In [ ]:
ss2.issubset(ss1)

True

In [ ]:
ss1.issubset(s2)

False

In [ ]:
print(ss1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
print(ss2)

{3, 4, 5, 6, 7, 8}

In [ ]:
print(ss3)

{40, 10, 20, 30}

In [ ]:
ss3.isdisjoint(ss2)

True

In [ ]:
ss2.isdisjoint(ss1)

False

In [ ]:
ss4 = {1, 2, 3 ,4, 5}

In [ ]:
SS5 = {6,7,8}

In [ ]:
SS6 = {9, 10}

In [ ]:
ss4.isdisjoint(SS5)

True

In [ ]:
ss4.issuperset(SS5)

False

# Set is completed

# Dictionary

In [ ]:
mydict = {1:'one', 2:'two', 3:'three'}

In [ ]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
mydict.keys()

dict_keys([1, 2, 3])

In [ ]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [ ]:
mydict[4] = 'Four'

In [ ]:
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'Four'}

In [ ]:
mydict['five'] = 5
mydict[2.3] = 'foat'
mydict[1+2j] = 'complex'

In [ ]:
mydict

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'Four',
 'five': 5,
 2.3: 'foat',
 (1+2j): 'complex'}

In [ ]:
mydict.keys()

dict_keys([1, 2, 3, 4, 'five', 2.3, (1+2j)])

In [ ]:
mydict.values()

dict_values(['one', 'two', 'three', 'Four', 5, 'foat', 'complex'])

In [ ]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'a': None, 'c': None, 'b': None, 'd': None}

In [ ]:
type(keys)

set

In [ ]:
print(type(keys))
print(type(mydict3))

<class 'set'>
<class 'dict'>

In [ ]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys,value)
mydict3

{'a': 10, 'c': 10, 'b': 10, 'd': 10}

In [ ]:
keys = {'a', 'b', 'c', 'd'}
value = [10, 20, 30, 40]
mydict3 = dict.fromkeys(keys,value)
mydict3

{'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

# Range

In [ ]:
range()

TypeError: range expected at least 1 argument, got 0

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
range(10,20)

range(10, 20)

In [ ]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
range(0,100,20)

range(0, 100, 20)

In [ ]:
list(range(0,100,20))

[0, 20, 40, 60, 80]

In [ ]:
range(0,100,20,5)

TypeError: range expected at most 3 arguments, got 4

# Python build in structure completed

In [ ]:
# Number System

SyntaxError: invalid syntax (1156285138.py, line 1)

1. binary number system ==== (base 2) ======== 0 & 1 (0b)
2. octal number system === (base 8) ==== 0,1,2,3,4,5,6,7(0o)
3. decimal number system ====(base 10) ========= 0x
4. hexadecimal number system()

In [ ]:
25

25

In [ ]:
bin(25) # Convert number to binary number system

int(0b11001) # Convert binary number to number

25

In [ ]:
oct(25)

'0o31'

In [ ]:
hex(1)

'0x1'

In [ ]:
hex(8)

'0x8'

In [ ]:
hex(10)

'0xa'

In [ ]:
hex(25)

'0x19'

# How to swap 2 variables in python

In [ ]:
a =5
b= 6

In [ ]:
temp = a
a = b
b =temp

In [ ]:
print (a)
print(b)

6
5

In [ ]:
a2 = 5
b2 = 6
a2 = a2+b2 # 5+6 = 11
b2 = a2-b2 #11-6 =5
a2 = a2-b2 #11-5 = 6
print(a2)
print(b2)

6
5

In [ ]:
a1 = 7
b1 = 8

In [ ]:
a1,b1 = b1,a1
print(a1)
print(b1)

8
7

# Bitwise Operator 
1. Complement Operator ~ ( tilt Symbol) 
2. and & 
3. or |
4.  xor (xclusive or) ^
5. left shift(<<)
6. right shift(>>)

# Complement Operator

In [ ]:
~12

-13

In [ ]:
~45

-46

In [ ]:
print(bin(12))
print(bin(13))

0b1100
0b1101

In [ ]:
12 & 13

12

In [ ]:
12 | 13

13

In [ ]:
12 ^ 13

1

In [ ]:
12<<2

48

In [ ]:
13<<2

52

In [ ]:
12>>2

3

In [ ]:
13>>1

6

#

In [ ]:
import math

In [ ]:
x = math.sqrt(25)
x

5.0

In [ ]:
x1 = math.sqrt(15)
x1

3.872983346207417

# math is a modular function

In [ ]:
#floor 
print(math.floor(3.87))

3

In [ ]:
#ceil 
print(math.ceil(3.87))

4

In [ ]:
#round
round(3.87)

4

In [ ]:
3 * 2

6

In [ ]:
3**2

9

In [ ]:
print(math.pow(3,2))

9.0

In [ ]:
math.pi

3.141592653589793

In [ ]:
pi = 3.15

In [ ]:
pi

3.15

In [ ]:
math.e

2.718281828459045

In [ ]:
import math as m

In [ ]:
from math import sqrt, pow, ceil, floor # math has many function if you want to import specific function
print(pow(2,3))
print(m.sqrt(10))
print(m.floor(3.5))
print(m.ceil(3.6))

8.0
3.1622776601683795
3
4

In [ ]:
from math import * # * is wildcard to import all 
print(pow(2,3))
print(m.sqrt(10))
print(m.floor(3.5))
print(m.ceil(3.6))

8.0
3.1622776601683795
3
4

# input() in python

In [169]:
x = input()

In [170]:
x

'2'

In [171]:
x = int(input())
y = int(input())
z = x +y

In [172]:
print(z)

5

In [175]:
x1 = int(input('Enter the 1st number:'))
y1 = int(input('Enter the 2nd number'))
z1 = x1 + y1 
print(z1)

42

In [178]:
st = input('enter a string')
print(st)
print(type(st))

hello
<class 'str'>

In [179]:
print(st[0])

h

In [180]:
print(st[0:3])

hel

In [181]:
st = input('enter a string')[1]
print(st)

e

In [182]:
st = input('enter a string')[5:8]
print(st)

re

In [183]:
st = input('enter a string')
print(st)

2+3-1*4

In [184]:
st = eval(input('enter a string'))
print(st)

1