# Tuples 
1. Tuple is similar to List except that the objects in are immutable which means we cannot change the elements of a tuple once assigned. 
2. When we do not want to change the data over time, tuple is a preferred data type. 
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation.

In [3]:
tup1 = () # Empty tuple 
tup2 = (10,30,60) # tuple of integers numbers
tup3 = (10.77, 30.66, 60.89) # tuple of float numbers 
tup4 = ('one', 'two', "three") # tuple of strings 
tup5 = ('Asif', 25, (50,100), (150,90)) # Nested tuples 
tup6 = (100, 'Asif',17.765) # Tuple of mixed data types 
tup7 = ('Asif', 25, [50,100],[150,90], {'John', 'David'}, (99,22,33))

In [4]:
len(tup7) # length of list

6

# Tuple Indexing

In [5]:
tup2[0] # Retrieve first element of the tuple

10

In [6]:
tup4[0] # Retrieve first element of the tuple

'one'

In [7]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

'o'

In [9]:
tup4[-1] # Last item of the tuple

'three'

In [10]:
tup5[-1] # Last item of the tuple

(150, 90)

# Tuple Slicing

In [11]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytuple[0:3] # Return all items from 0th to 3rd index location excluding 3 index item.

('one', 'two', 'three')

In [12]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the last item

('three', 'four', 'five')

In [13]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [14]:
mytuple[:2] # Return first two items

('one', 'two')

In [15]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [16]:
mytuple[-2:]

('seven', 'eight')

In [17]:
mytuple[-1] # Return last item of the tuple

'eight'

In [18]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change Items

In [19]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [20]:
del mytuple[0] # Tuples are immutable which means we can't Delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [21]:
mytuple[0] = 1 # Tuples are immutable which means we can't change tuple items

TypeError: 'tuple' object does not support item assignment

In [22]:
del mytuple # Deleting entire tuple object is possible.

In [23]:
mytuple

NameError: name 'mytuple' is not defined

# Loop through a tuple

In [24]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [25]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [27]:
for  i in mytuple:
    print (i)

one
two
three
four
five
six
seven
eight

In [28]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [29]:
mytuple1 = ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')
mytuple1.count('one') # Number of times item "one" occured in the tuple.

3

In [30]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [31]:
mytuple1.count('four') # Occurence of item 'four' in the tuple

1

# Tuple Membership

In [32]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
'one' in mytuple # check if 'one' exist in the list

True

In [35]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [36]:
if 'three' in mytuple: # Check if 'three' exist in the list 
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [37]:
if 'eleven' in mytuple: # check if 'eleven' exist in the list 
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple