# TUPLE

In [ ]:
t = () # Tuple will start with () 
type(t)

tuple

In [2]:
t1 = (10,20,30)
t1

(10, 20, 30)

In [3]:
t1.count(10)

1

In [5]:
t1.index(10)

0

In [6]:
t1

(10, 20, 30)

In [7]:
t1[0]

10

In [8]:
t1[0] = 100 # Immutable

TypeError: 'tuple' object does not support item assignment

In [9]:
t1.append(40)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
t1.remove(40)

AttributeError: 'tuple' object has no attribute 'remove'

In [11]:
t1[1] = 200

TypeError: 'tuple' object does not support item assignment

In [12]:
t2 = (10,10,20)

In [13]:
t2

(10, 10, 20)

In [14]:
t2[:]

(10, 10, 20)

In [15]:
t2.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [18]:
a = sorted(t2)# Output will be in list form 
type(a)
print(a)

[10, 10, 20]