In [1]:
#Variable Assignment 
intvar = 10 # 
floatvar =2.57 # Float Variable 
starvar = "Python Language" # String Variable 
print(intvar)
print(floatvar)
print(starvar)

10
2.57
Python Language

In [2]:
#Multiple Assignments 
intvar, floatvar, strvar = 10, 2.57, "Python Language" #Using commas to separate 
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [3]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value 
print(p1,p2,p3,p4)

44 44 44 44

==============DATA TYPES==================

In [5]:
#Numeric
import sys 
val1 = 10 # Integer data type 
print(val1)
print(type(val1))# type of object
print(sys.getsizeof(val1))
print(val1, "is Integer?", isinstance(val1, int)) #val1 is an instance of int

10
<class 'int'>
28
10 is Integer? True

In [6]:
val2 = 92.78 # Float data type 
print(val2)
print(type(val2))# type of object
print(sys.getsizeof(val2))
print(val2, "is float?", isinstance(val2, float)) #val2 is an instance of float

92.78
<class 'float'>
24
92.78 is float? True

In [7]:
val3 = 25+10j #complex data type 
print(val3)
print(type(val3))# type of object
print(sys.getsizeof(val3))
print(val3, "is complex?", isinstance(val3, complex)) #val3 is an instance of complex

(25+10j)
<class 'complex'>
32
(25+10j) is complex? True

In [8]:
sys.getsizeof(int())#size of integer object in bytes

28

In [9]:
sys.getsizeof(float())#size of integer object in bytes

24

In [10]:
sys.getsizeof(complex()) # size of complex object in bytes

32

In [13]:
#Boolean - Boolean data type can have only two possible values True or False with capital T and F only 

bool1 = True
bool2 = False
print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [14]:
isinstance(bool1, bool)

True

In [15]:
bool(0)

False

In [16]:
bool(1)

True

In [17]:
bool(None)

False

In [18]:
bool (False)

False

=================STRINGS===================

In [20]:
#String Creation 
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [21]:
mystr = 'Hello World' #Define string using single quotes
print(mystr)

Hello World

In [23]:
mystr = "Hello World" #Define string using double quotes
print(mystr)

Hello World

In [26]:
mystr = '''Hello
                world''' #Define string using triple quotes
print(mystr)

Hello
                world

In [28]:
mystr = """Hello
                World""" #Define string using triple quotes
print(mystr)

Hello
                World

In [29]:
mystr = ('Happy'
         'Monday'
         'Everyone')
print(mystr)

HappyMondayEveryone

In [33]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [34]:
len(mystr2) #Length of string

35

# String Indexing
# Forward indexing in python starts from 0 to n-1 
# Backward indexing in python starts from -1 to -n

In [35]:
str1

'HELLO PYTHON'

In [36]:
str1[0] # First character in string "str1"

'H'

In [37]:
str1[len(str1)-1] #last character in string using len function

'N'

In [39]:
str1[-1] #Last character in string

'N'

In [40]:
str1[6] #Fetch 7th element of the string

'P'

In [41]:
str1[5]

' '

# String Slicing

In [42]:
str1[0:5] #String slicing - Fetch all characters from 0 to 5 index location exc

'HELLO'

In [43]:
str1[6:12] #String slicing - Retrieve all characters between 6 - 12 index loce

'PYTHON'

In [44]:
str1[-4:] #Retrieve last four characters of the string

'THON'

In [46]:
str1[-6:] # Retrieve last six characters of the string

'PYTHON'

In [47]:
str1[:4] # Retrieve first four characters of the string

'HELL'

In [48]:
str1[:6] # Retrieve first six characters of the string

'HELLO '

# Update & Delete String

In [49]:
str1

'HELLO PYTHON'

In [52]:
# Strings are immutable which means elements of a string cannot be changed once
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [53]:
del str1 #Delete a string 
print(str1)

NameError: name 'str1' is not defined

# String concentation

In [54]:
# String concatenation

In [58]:
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

HelloAsif

# PRINT STATEMENTS

In [60]:
# Print is used for answer 
a = 10
b = 20
a
b

20

In [61]:
a = 10
b = 20
print (a)
print (b)

10
20

In [62]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [64]:
num1 = 20
num2 = 30 
add = num1 + num2 
print(add)

50

# Print result with String

In [67]:
num1 = 20
num2 = 30 
add = num1 + num2
print('The addition of ', num1, 'and', num2, 'is =', add)

The addition of  20 and 30 is = 50

In [68]:
name = 'Python'
age = 20
city = 'hyd'
# hellow my name is python and i am 10 year old from hyderabad

In [69]:
print('My name is ',name, 'and i am', age, 'years old from', city)

My name is  Python and i am 20 years old from hyd

Print Format Method

In [73]:
num1 = 20 
num2 = 30 
add = num1 + num2 
print(' The addition of {} and {} is = {}'.format(num1, num2,add))

# First decide how the print should be EX: The addition of 20 and 30 is = 50
# Then replace the variable position with curly brtaacesm{} 
# then apply.format(va1, val2,.....val-n) method

 The addition of 20 and 30 is = 50

In [74]:
name = 'Python'
age = 20
city = 'hyd '
#hello my name is python and I am 10 year old from hyderabad 

print('hello my name is {}, and i am {} years old from {}' . format(name,age,city))

hello my name is Python, and i am 20 years old from hyd

In [77]:
num1 = 100 
num2 = 25 
num3 = 333 
avg= (num1 + num2 + num3)/ 3 # or we can use avg = round(num1 + num2 + num3)/3,2)
avg1 = round((num1 + num2 + num3)/3,2)
# The average of num1, num2, num3 is = avg
print('The average of {}, {}, and {} is = {} or {}'.format(num1,num2,num3,avg,avg1))
#here we can use round(avg,2)also

The average of 100, 25, and 333 is = 152.66666666666666 or 152.67

In [78]:
round(avg,2) # round of till 2 digite after decimal

152.67

More short format method (f string method)
- variable should be in curly braces 
- and write everything inside quotes''
- at starting simply add f

In [81]:
num1 = 20 
num2 = 30 
add = num1 + num2 
print(f'The additin of {num1} and {num2} is = {add}') # always prefer this

The additin of 20 and 30 is = 50

In [82]:
name = 'Python'
age = 20 
city = 'hyd'
#hello my name is python and I am 10 year old from hyderabad

In [83]:
print(f'hello my name is {name}. and i am {age} year old, from {city}.')

hello my name is Python. and i am 20 year old, from hyd.

In [85]:
num1 = 100 
num2 = 25 
num3 = 333 
avg = round((num1 + num2 + num3)/3,2) # or we can use avg = round(num1 + num2 + num3)/3,2)
# The average of num1, num2, num3, is = avg

In [86]:
print(f'The average of {num1},{num2} and {num3} is = {avg}')

The average of 100,25 and 333 is = 152.67

In [93]:
# lets Combine all 
num1 = 20 
num2 = 20 
add = num1 + num2 
print('The addition of',num1 ,'and', num2, 'is =',add)
print('The addition of {} and {} is = {}'.format(num1, num2, add))
print(f'The addition of {num1} and {num2} is = {add}')

The addition of 20 and 20 is = 40
The addition of 20 and 20 is = 40
The addition of 20 and 20 is = 40

END STATEMENT

In [94]:
print('hello') # 1st statement 
print('good morning') # 2nd statement 
# I want print like : - hello good morning

hello
good morning

In [96]:
# Here we will use end statement that join line from end of one string to starting of other string
print('hello', end= ' ')# 1st statement 
print('world good day')#2nd statement

hello world good day

# Separator
- here one print statement only we use 

- inside one print statement we have multiple values 

- we want to separate these multiple values with anything

In [97]:
print ('hello', 'hai', 'how are you', sep='---->')

hello---->hai---->how are you

In [100]:
print('hello ', ' hai ', ' how are you ', sep='&')

hello & hai & how are you

In [101]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [102]:
print('hello','hai','how are you',sep=
' ')

hello hai how are you

In [103]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [104]:
print(3,'.',sep=
'') # see now space setteld(also use to remove space B/W words)

3.

In [105]:
print(1,2,end=' ')
print(3,'.',sep=
'')
# will print 1 2 3.

1 2 3.

# Using Escape Character

In [106]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [107]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"